__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.eggs
.venv
venv
ENV
env
.git
.gitignore
.github
*.md
assets
.DS_Store
*.swp
*.swo
*~
.pytest_cache
.coverage
htmlcov
.tox
.mypy_cache
.dmypy.json
dmypy.json
